<% if resource.errors.any? %>
  <div id="error_explanation" class="mb-3 text-center text-black">
    <ul class="list-group">
      <% resource.errors.full_messages.each do |message| %>
        <li class="alert alert-danger mb-2 fs-6 fw-bolder list-unstyled"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
