<nav class="navbar nav bg-dark ">
  <div class="container text-white">
    <a class="navbar-brand text-decoration-none fw-bolder display-5" href="/">USERUBIS
      <i class="bi bi-gem text-danger"></i>
    </a>
    <ul class="navbar nav gap-4">
      <li class="nav-item"><%= link_to 'Cotação de Rubis', exchange_rates_path %></li>
      <li class="nav-item"><%= link_to 'Créditos Pendentes', credits_path %></li>
      <li class="nav-item text-white-50"><%= current_admin.full_description %></li>
      <%= button_to 'Sair', destroy_admin_session_path, method: :delete, class: 'btn btn-outline-danger' %>
    </ul>
  </div>
</nav>
