<h2>Histórico de Cotação</h2>
<% if @exchange_rates.any? %>
  <table class="table align-middle">
    <thead class="table-light">
      <tr>
        <th>Valor</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <% @exchange_rates.each do |er| %>
        <tr>
          <td><%= number_to_currency(er.real) %></td>
          <td><%= er.created_at.strftime('%d/%m/%Y') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nenhuma taxa criada</p>
<% end %>
<%= link_to 'Configurar taxa de câmbio', new_exchange_rate_path, class: 'btn btn-danger' %>
