<h2>Histórico de Cotação</h2>
<%= link_to 'Taxas pendentes', exchange_rate_approvals_path %>

<% if @exchange_rates.any? %>
  <table>
    <thead>
      <tr>
        <th>Valor</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <% @exchange_rates.each do |er| %>
        <tr>
          <td><%= er.real %></td>
          <td><%= er.created_at.strftime('%d/%m/%Y') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nenhuma taxa criada</p>
<% end %>
<%= link_to 'Configurar taxa de câmbio', new_exchange_rate_path %>
