a {
  text-decoration: none;
  color: inherit;
}

* {
}

.navbar-brand:hover,
li.nav-item > a:hover {
  color: var(--bs-danger);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(220, 53, 69, 0.9);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0695) inset,
    0 0 8px rgba(220, 53, 69, 0.9);
  outline: 0 none;
}

.field_with_errors {
  display: inline;
}

label {
  opacity: 0.7;
}

main {
  min-height: 70vh;
  margin-bottom: 2rem;
}

.table > :not(:first-child) {
  border-top: none;
}
